/* body {
    background-color: #fff;
      background-image: url('background-2.jpeg');
      width:100%;
      height:100%;
    opacity: 0.8;
  
} */
html { 
    background: url('terminal.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: hsla(0,0%,100%,0.2); */
   
  
  }
body {
    width: 100%;
    min-height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    background: rgba(255,255,255,0.5);
}


div {
    opacity:1
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 48px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #111111;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 200px;
  height: 40px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #008cff;
    border-radius: 2px;
    background-color: #008cff;
    font-size: 13px;
    color: #ffffff;
}

button:focus {outline:0;}



